server:
  port: 8888
spring:
  application:
    name: selmag-config-server
  cloud:
    config:
      server:
        native:
          search-locations: file:${user.home}/Documents/GitHub/selmag/config/cloud/{application}/{profile}